<header class="page-header{{#if headerCompact}} page-header--compact{{/if}}"{{#if headerCompact}} data-compact-static{{/if}}>
    <div class="container">
        <div class="page-header__row">
            <a href="#" class="page-header__logo">
                <img src="/images/shared/logo.svg" alt="" class="page-header__logo-full">
                <img src="/images/shared/logo-blue.svg" alt=""
                    class="page-header__logo-full page-header__logo-full--blue">
                <img src="/images/shared/logo-compact-blue.svg" alt=""
                    class="page-header__logo-compact page-header__logo-compact--blue">
            </a>
            <div class="page-header__mobile-actions">
                <a href="#" class="page-header__mobile-btn page-header__mobile-btn--phone" aria-label="Позвонить">
                    <svg width="24" height="24" aria-hidden="true">
                        <use xlink:href="#phone"></use>
                    </svg>
                </a>
                <button type="button" class="page-header__mobile-btn page-header__mobile-btn--menu js-mobile-menu-toggle"
                    aria-expanded="false" aria-controls="mobile-menu-panel"
                    aria-label="Открыть меню" data-open-label="Открыть меню">
                    <svg width="24" height="24" aria-hidden="true">
                        <use xlink:href="#menu"></use>
                    </svg>
                </button>
            </div>
            <div class="page-header__middle-wrapper">
                <div class="page-header__products">
                    <a href="#" class="page-header__products-btn">
                        Продукция и услуги
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#menu"></use>
                        </svg>
                    </a>
                </div>
                <div class="page-header__search">
                    <a href="#" class="page-header__search-btn">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#search"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="page-header__right-wrapper">
                <nav class="page-header__nav">
                    <ul class="page-header__nav-list">
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                О компании
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#plus"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Документация
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#plus"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Контакты
                            </a>
                        </li>
                    </ul>
                </nav>
                <a href="#" class="page-header__phone">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#phone"></use>
                    </svg>
                </a>
                <a href="#" class="page-header__cta">
                    связаться с нами
                </a>
            </div>
        </div>
    </div>
</header>
