<header class="page-header">
    <div class="container">
        <div class="page-header__row">
            <a href="#" class="page-header__logo">
                <img src="/images/shared/logo.svg" alt="" class="page-header__logo-full">
            </a>
            <div class="page-header__middle-wrapper">
                <div class="page-header__products">
                    <a href="#" class="page-header__products-btn">
                        Продукция и услуги
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#menu"></use>
                        </svg>
                    </a>
                </div>
                <div class="page-header__search">
                    <a href="#" class="page-header__search-btn">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#search"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="page-header__right-wrapper">
                <nav class="page-header__nav">
                    <ul class="page-header__nav-list">
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                О компании
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#plus"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Документация
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#plus"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Контакты
                            </a>
                        </li>
                    </ul>
                </nav>
                <a href="#" class="page-header__phone">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#phone"></use>
                    </svg>
                </a>
                <a href="#" class="page-header__cta">
                    связаться с нами
                </a>
            </div>
        </div>
    </div>
</header>