@use "tools/media" as mq;

@layer components {
  .award-card {
    color: inherit;
  }

  .award-card__media {
    display: block;
    border-radius: 0.5rem;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .award-card--vertical {
    .award-card__media {
      width: 60.9412%;
      margin-inline: auto;
      border-radius: 0;
      overflow: visible;
      aspect-ratio: auto;
    }

    .award-card__title {
      margin-top: 4rem;
      text-align: center;

      @include mq.down(sm) {
        margin-top: 2rem;
      }
    }
  }

  .award-card__title {
    margin-top: 3rem;
    color: inherit;
    font-family: var(--inter);
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: -0.066rem;

    @include mq.down(sm) {
      margin-top: 2rem;
      font-size: 1.8rem;
      letter-spacing: -0.04rem;
    }
  }
}
