@use "tools/media" as mq;

@layer components {
  .award-card {
    color: inherit;
  }

  .award-card__media {
    display: block;
    border-radius: 0.5rem;
    overflow: hidden;
    aspect-ratio: 425 / 297;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .award-card__title {
    margin-top: 3rem;
    color: inherit;
    font-family: var(--inter);
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: -0.066rem;

    @include mq.down(sm) {
      margin-top: 2rem;
      font-size: 1.8rem;
      letter-spacing: -0.04rem;
    }
  }
}
