@layer components {
  .btn {
    border-radius: 5rem;
    border: 0.3rem solid var(--primary-color);
    display: block;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 105%;
    letter-spacing: 0.16rem;
    text-transform: uppercase;
    font-family: var(--inter);
    padding-inline: 3rem;
    padding-block: 3rem;
    color: white;
    transition:
      background-color 0.2s,
      color 0.2s;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: var(--primary-color);
      }
    }
  }
}
