@use "tools/media" as mq;

@layer components {
  .harsh-conditions-card {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    color: #fff;

    @include mq.down(sm) {
      gap: 2rem;
    }
  }

  .harsh-conditions-card__media {
    position: relative;
    width: 100%;
    aspect-ratio: 1375 / 900;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include mq.down(sm) {
      aspect-ratio: 3 / 2;
    }
  }
}
