@layer sections {
  .about-company {
    position: relative;
    color: #fff;
    background:
      linear-gradient(180deg, #001b36 0%, #001932 100%),
      linear-gradient(90deg, #ebebeb 0%, #ebebeb 100%);
    isolation: isolate;
    overflow: clip;
    min-height: 120rem;
  }

  .about-company__bg {
    position: absolute;
    inset: 0;
    z-index: -1;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 111.15%;
      height: 100%;
      object-fit: cover;
      max-width: none;
    }
  }

  .about-company__grid {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    gap: 2rem;
    padding-top: 16rem;
    padding-bottom: 6.1rem;
    min-height: 120rem;
  }

  .about-company__title {
    grid-column: 1 / 3;
    font-family: var(--rf-dewi);
    font-size: 6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.12rem;
    text-transform: uppercase;
  }

  .about-company__content {
    grid-column: 5 / -1;
    display: flex;
    flex-direction: column;
    gap: 8rem;
  }

  .about-company__description {
    width: 73.2rem;
    max-width: 100%;
    font-family: var(--inter);
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -0.09rem;
  }

  .about-company__stats-list {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .about-company__stats-item {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
    padding-block: 4rem;
    align-items: center;
  }

  .about-company__stats-value {
    font-family: var(--rf-dewi);
    font-size: 12rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -0.24rem;
  }

  .about-company__stats-suffix {
    font-size: 7.74rem;
    line-height: 1.2;
  }

  .about-company__stats-text {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  .about-company__stats-title {
    font-family: var(--inter);
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.09rem;
  }

  .about-company__stats-description {
    max-width: 100%;
    font-family: var(--inter);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8;
    opacity: 0.5;
    max-width: 34rem;
  }

  .about-company__btn {
    grid-column: 3 / 7;
    align-self: end;
    justify-self: center;
    width: 44.5rem;
    max-width: 100%;
  }
}
