@use "tools/media" as mq;

@layer sections {
  .awards {
    --awards-gap: 4.6667rem;

    padding-top: 4rem;
    padding-bottom: 8rem;
    background-color: #f2f2fa;
    color: #222233;
    overflow: clip;

    @include mq.down(sm) {
      --awards-gap: 2rem;

      padding-bottom: 4rem;
    }
  }

  .awards__grid {
    display: flex;
    flex-direction: column;
  }

  .awards__title {
    margin-bottom: 12rem;
    font-family: var(--rf-dewi);
    font-size: 6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -0.12rem;
    text-transform: uppercase;

    @include mq.down(sm) {
      margin-bottom: 4rem;
      font-size: 3rem;
      line-height: 1.2;
      letter-spacing: -0.06rem;
    }
  }

  .awards__slider {
    width: 100%;
    min-width: 0;
    margin-bottom: 12rem;
    overflow: hidden;

    @include mq.down(sm) {
      margin-bottom: 4rem;
      overflow: visible;
    }
  }

  .awards__list {
    display: flex;
  }

  .awards__item {
    position: relative;
    width: 42.5rem;
    flex: 0 0 auto;
    margin-right: var(--awards-gap);

    width: calc(25% - 4.6rem * 3 / 4);

    &:last-child {
      margin-right: 0;
    }

    &:not(:last-child)::after {
      content: "";
      position: absolute;
      top: 0;
      right: calc((var(--awards-gap) / -2) - 0.5px);
      width: 1px;
      bottom: 0;
      background-color: rgba(34, 34, 51, 0.2);
    }

    @include mq.down(sm) {
      width: 30rem;

      &::after {
        display: none;
      }
    }
  }

  .awards__navigation {
    justify-content: center;

    @include mq.down(sm) {
      gap: 0.5rem;
    }
  }
}
