@use "tools/media" as mq;
@use "tools/typography" as type;

@layer sections {
  .career-vacancies {
    padding-top: 4rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background: #222233;
    color: #fff;
    margin-bottom: 15rem;

    @include mq.down(sm) {
      margin-bottom: 8rem;
    }
  }

  .career-vacancies__title {
    @include type.section-title;
  }

  .career-vacancies__list {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: auto auto auto auto auto;
    margin-top: 12rem;

    @include mq.down(sm) {
      display: flex;
      flex-direction: column;
      margin-top: 5rem;
    }
  }

  .career-vacancies__item {
    display: grid;
    grid-row: span 5;
    grid-template-rows: subgrid;
    padding-right: 5.8rem;

    @include mq.down(sm) {
      display: block;
      grid-row: auto;
      grid-template-rows: none;
      width: 100%;
      padding-right: 0;
    }
  }

  .career-vacancies__item:not(:first-child) {
    padding-left: 3rem;
    border-left: 1px solid rgba(255, 255, 255, 0.08);

    @include mq.down(sm) {
      padding-top: 2rem;
      padding-left: 0;
      border-left: none;
    }
  }

  .career-vacancies__item:not(:last-child) {
    @include mq.down(sm) {
      padding-bottom: 2rem;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
  }

  .career-vacancies__footer {
    display: flex;
    align-items: end;
    justify-content: center;
    margin-top: 12rem;

    @include mq.down(sm) {
      margin-top: 4rem;
    }
  }

  .career-vacancies__button.btn {
    width: 30rem;

    @include mq.down(sm) {
      width: 100%;
    }
  }
}
