@use "tools/media" as mq;

@layer sections {
  .company-history {
    padding-block: 4rem;
    background-color: #fff;
    color: #222233;
    overflow: clip;
    margin-bottom: 15rem;

    @include mq.down(sm) {
      margin-bottom: 8rem;
      padding: 0;
    }
  }

  .company-history__grid {
    display: flex;
    flex-direction: column;
    gap: 12rem;

    @include mq.down(sm) {
      gap: 2.4rem;
    }
  }

  .company-history__title {
    font-family: var(--rf-dewi);
    font-size: 6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.12rem;
    text-transform: uppercase;

    @include mq.down(sm) {
      font-size: 3rem;
      letter-spacing: -0.06rem;
    }
  }

  .company-history__slider {
    width: 100%;
    min-width: 0;
    padding-top: 4rem;
    border-top: 1px solid #ccc;
    overflow: visible;
  }

  .company-history__navigation {
    @include mq.down(sm) {
      gap: 0.5rem;
      justify-content: center;
    }
  }

  .company-history__list {
    display: flex;
  }

  .company-history__item {
    width: 40rem;
    flex: 0 0 auto;

    @include mq.down(sm) {
      width: auto;
    }
  }

  .company-history-card {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    padding: 0 3rem 3rem;
    border-left: 1px solid #ccc;
    box-sizing: border-box;

    @include mq.down(sm) {
      min-width: 19rem;
      gap: 4rem;
      padding: 0 2rem 2rem;
    }
  }

  .company-history__item:first-child .company-history-card {
    padding-left: 0;
    border-left: none;
  }

  .company-history-card__year {
    font-family: var(--rf-dewi);
    font-size: 12rem;
    font-style: normal;
    font-weight: 300;
    line-height: 75%;
    letter-spacing: -0.24rem;
    color: #006fdd;

    @include mq.down(sm) {
      width: 15rem;
      font-size: 6rem;
      line-height: 75%;
      letter-spacing: -0.12rem;
    }
  }

  .company-history-card__description {
    max-width: 100%;
    font-family: var(--inter);
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: -0.066rem;
    overflow-wrap: anywhere;

    @include mq.down(sm) {
      width: 15rem;
      font-size: 1.4rem;
      letter-spacing: -0.042rem;
    }
  }
}
