@layer sections {
  .company-leadership {
    padding-top: 4rem;
    padding-bottom: 15rem;
    background: linear-gradient(180deg, #006fdd 0 36rem, #fff 36rem 100%);
    color: #222233;
    overflow: clip;
  }

  .company-leadership__grid {
    display: flex;
    flex-direction: column;
  }

  .company-leadership__title {
    margin-bottom: 10.2rem;
    color: #fff;
    font-family: var(--rf-dewi);
    font-size: 6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -0.12rem;
    text-transform: uppercase;
  }

  .company-leadership__slider {
    width: 100%;
    min-width: 0;

    overflow: visible;
  }

  .company-leadership__list {
    display: flex;
  }

  .company-leadership__item {
    width: 44.5rem;
    flex: 0 0 auto;
    margin-right: 2rem;

    &:last-child {
      margin-right: 0;
    }
  }

  .company-leadership__navigation {
    justify-content: center;
    margin-top: 12rem;
  }

  .company-leadership__participation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    max-width: 92rem;
    margin: 15rem auto 0;
  }

  .company-leadership__participation-icon {
    width: 7.3rem;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .company-leadership__participation-text {
    font-family: var(--inter);
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
  }
}
