@use "tools/media" as mq;

@layer sections {
  .cooperation-hero {
    padding-top: 16rem;
    margin-bottom: 12.5rem;
    background-color: #fff;
    color: var(--text-color);

    @include mq.down(sm) {
      padding-top: 14rem;
      margin-bottom: 6rem;
    }
  }

  .cooperation-hero .breadcrumbs {
    @include mq.down(sm) {
      display: none;
    }
  }

  .cooperation-hero__title {
    margin-top: 3.7rem;
    font-family: var(--inter-tight);
    font-size: 12rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.08;
    letter-spacing: 0;
    color: #223;

    span {
      text-transform: uppercase;
    }

    @include mq.down(sm) {
      margin-top: 0;
      font-size: 3.8rem;
      font-weight: 600;
      line-height: 1.1;
    }
  }

  .cooperation-hero__description {
    width: 90.5rem;
    max-width: 100%;
    margin-top: 8rem;
    font-family: var(--inter);
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0;
    color: #223;

    @include mq.down(sm) {
      margin-top: 3rem;
      font-size: 1.8rem;
    }
  }
}
