@use "tools/media" as mq;

@layer sections {
  .home-projects-download {
    background-color: var(--primary-color);
    color: #fff;
  }

  .home-projects-download__content {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    gap: 2rem;
    padding-top: 3.8rem;
    padding-bottom: 6.1rem;

    @include mq.down(sm) {
      grid-template-columns: 1fr;
      gap: 4rem;
      padding-top: 2rem;
      padding-bottom: 4rem;
    }
  }

  .home-projects-download__text {
    grid-column: 1 / 4;
    max-width: 67.8rem;
    font-family: var(--inter-tight);
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.06rem;
    text-wrap: balance;

    @include mq.down(sm) {
      grid-column: auto;
      max-width: none;
      font-family: var(--inter);
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.4;
      letter-spacing: 0;
      text-wrap: initial;
    }
  }

  .home-projects-download__card {
    grid-column: 7 / -1;

    @include mq.down(sm) {
      grid-column: auto;
    }
  }

  .home-projects-download + .contact-us--reference-request {
    padding-top: 12rem;
    padding-bottom: 15rem;

    @include mq.down(sm) {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
  }
}
