@use "tools/media" as mq;

@layer sections {
  .news-detail-content {
    padding-top: 12rem;
    padding-bottom: 15rem;
    background-color: #fff;

    @include mq.down(sm) {
      padding-top: 5rem;
      padding-bottom: 8rem;
    }
  }

}
