@use "tools/media" as mq;

@layer sections {
  .news-detail-hero {
    padding-top: 16rem;
    padding-bottom: 12rem;
    background-color: #fff;

    @include mq.down(sm) {
      padding-top: 9.4rem;
      padding-bottom: 6rem;
    }
  }

  .news-detail-hero .breadcrumbs {
    margin-bottom: 4rem;

    @include mq.down(sm) {
      display: none;
    }
  }

  .news-detail-hero__banner {
    position: relative;
    display: flex;
    flex-direction: column;
    aspect-ratio: 1840 / 890;
    border-radius: 0.5rem;
    overflow: hidden;
    color: #fff;

    @include mq.down(sm) {
      aspect-ratio: 343 / 500;
    }
  }

  .news-detail-hero__image,
  .news-detail-hero__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }

  .news-detail-hero__image {
    object-fit: cover;
  }

  .news-detail-hero__overlay {
    background-color: rgba(34, 34, 51, 0.75);
  }

  .news-detail-hero__top,
  .news-detail-hero__title {
    position: relative;
    z-index: 1;
  }

  .news-detail-hero__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 4rem;
    padding: 4rem 4rem 0 4.5rem;

    @include mq.down(sm) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 2rem;
      padding: 2.8rem 2.1rem 0;
    }
  }

  .news-detail-hero__tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

    @include mq.down(sm) {
      max-width: 30rem;
    }
  }

  .news-detail-hero__tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.5rem;
    border-radius: 5rem;
    background-color: rgba(255, 255, 255, 0.25);
    font-family: var(--inter);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    white-space: nowrap;

    @include mq.down(sm) {
      font-size: 1.2rem;
    }
  }

  .news-detail-hero__date {
    font-family: var(--ibm-plex-mono);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    white-space: nowrap;

    @include mq.down(sm) {
      font-size: 1.2rem;
    }
  }

  .news-detail-hero__title {
    max-width: 137.5rem;
    width: 100%;
    margin: auto;
    margin-bottom: 4rem;
    font-family: var(--rf-dewi);
    font-size: 6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 0.95;
    letter-spacing: -0.24rem;

    @include mq.down(sm) {
      max-width: 30rem;
      margin: auto 2.1rem 2.8rem;
      font-size: 3.2rem;
      line-height: 1;
      letter-spacing: -0.128rem;
      text-wrap: balance;
    }
  }

  .news-detail-content {
    padding-bottom: 15rem;
    background-color: #fff;

    @include mq.down(sm) {
      padding-bottom: 8rem;
    }
  }
}
