@use "tools/media" as mq;
@use "tools/typography" as type;

@layer sections {
  .production-and-services-page {
    padding-top: 16rem;
    background-color: #fff;

    @include mq.down(sm) {
      padding-top: 10.8rem;
    }
  }

  .production-and-services-page__title {
    margin-top: 3rem;
    margin-bottom: 12.8rem;
    color: var(--text-color);
    @include type.page-title;

    @include mq.down(sm) {
      margin-top: 2rem;
      margin-bottom: 4rem;
    }
  }

  .realised-projects-industries.realised-projects-industries--production-and-services {
    padding-top: 0;
    padding-bottom: 5.2rem;

    @include mq.down(sm) {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
