@use "tools/media" as mq;

@layer sections {
  .realised-projects-page {
    padding-top: 16rem;
    background-color: #fff;

    @include mq.down(sm) {
      padding-top: 12rem;
    }
  }

  .realised-projects-page .breadcrumbs {
    @include mq.down(sm) {
      display: none;
    }
  }

  .realised-projects-page__title {
    margin-top: 3rem;
    margin-bottom: 7.8rem;
    color: var(--text-color);
    font-family: var(--rf-dewi);
    font-size: 12rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -0.48rem;

    @include mq.down(sm) {
      margin-top: 0;
      margin-bottom: 4rem;
      font-size: 3rem;
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: -0.06rem;
      text-transform: uppercase;
    }
  }

  .realised-projects-page__banner {
    background-color: var(--primary-color);
    color: #fff;
  }

  .realised-projects-page__banner-content {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    gap: 2rem;
    padding-top: 3.8rem;
    padding-bottom: 6.1rem;

    @include mq.down(sm) {
      grid-template-columns: 1fr;
      gap: 3rem;
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }

  .realised-projects-page__banner-text {
    grid-column: 1 / 4;
    max-width: 67.8rem;
    font-family: var(--rf-dewi);
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.06rem;
    text-wrap: balance;

    @include mq.down(sm) {
      grid-column: auto;
      max-width: none;
      font-size: 2rem;
      line-height: 1.15;
      letter-spacing: -0.04rem;
      text-wrap: balance;
    }
  }

  .realised-projects-page__banner-card {
    grid-column: 7 / -1;

    @include mq.down(sm) {
      grid-column: auto;
    }
  }
}
