@use "tools/media" as mq;
@use "tools/typography" as type;

@layer sections {
  .realised-projects-page {
    padding-top: 16rem;
    background-color: #fff;

    @include mq.down(sm) {
      padding-top: 12rem;
    }
  }

  .realised-projects-page .breadcrumbs {
    @include mq.down(sm) {
      display: none;
    }
  }

  .realised-projects-page__title {
    margin-top: 3rem;
    margin-bottom: 4.4rem;
    color: var(--text-color);
    @include type.page-title;

    @include mq.down(sm) {
      margin-top: 0;
      margin-bottom: 3rem;
    }
  }

  .realised-projects-page__intro {
    max-width: 117.6rem;
    margin-bottom: 8rem;
    color: var(--text-color);
    font-family: var(--inter);
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.066rem;

    @include mq.down(sm) {
      margin-bottom: 4rem;
      max-width: none;
      font-size: 1.6rem;
      letter-spacing: -0.048rem;
    }
  }
}
