@layer tokens {
  :root {
    --imb-plex-sans: "IBM Plex Sans", sans-serif;
    --inter: "Inter", sans-serif;
    --rf-dewi: "RF Dewi", sans-serif;
    --ibm-plex-mono: "IBM Plex Mono", monospace;
    --imb-plex-mono: "IBM Plex Mono", monospace;
  }
}
