<a class="document-category-card" href="{{category.href}}">
    <span class="document-category-card__body">
        <span class="document-category-card__top">
            <span class="document-category-card__title">{{category.title}}</span>

            <span class="document-category-card__meta">
                <span>{{category.type}}</span>
                <span>·</span>
                <span>{{category.count}}</span>
            </span>
        </span>

        <span class="document-category-card__link">{{category.linkText}}</span>
    </span>
</a>
