<a class="other-project-card" href="{{project.href}}">
    <span class="other-project-card__logo">
        <img src="{{project.logo}}" alt="{{project.logoAlt}}" loading="lazy">
    </span>

    <span class="other-project-card__meta">
        <span class="other-project-card__tag">{{project.tag}}</span>
        <span class="other-project-card__year">{{project.year}}</span>
    </span>

    <span class="other-project-card__title">{{project.title}}</span>

    <span class="other-project-card__link">
        <span>{{detailsText}}</span>
        <svg width="16" height="16" aria-hidden="true">
            <use xlink:href="#arrows/right"></use>
        </svg>
    </span>
</a>
