<a class="product-category-card" href="{{item.href}}">
    <span class="product-category-card__image-wrapper">
        <img class="product-category-card__image" src="{{item.image}}" alt="{{item.imageAlt}}" loading="lazy">
    </span>

    <div class="product-category-card__content">
        <h3 class="product-category-card__title">{{item.title}}</h3>

        <span class="product-category-card__button">
            <span>{{detailsText}}</span>
            <svg class="product-category-card__button-arrow" width="16" height="16" aria-hidden="true">
                <use xlink:href="#arrows/details-chevron"></use>
            </svg>
        </span>
    </div>
</a>
