<li class="production-and-services__item">
    <a class="production-and-services__link" href="{{item.href}}">
        <span class="production-and-services__item-title">{{{item.title}}}</span>
        <span class="production-and-services__icon" aria-hidden="true">
            <svg width="12" height="11" aria-hidden="true">
                <use xlink:href="#arrows/right"></use>
            </svg>
        </span>
        <span class="production-and-services__item-preview" aria-hidden="true">
            <img class="production-and-services__item-preview-image" src="{{item.image}}" alt="{{item.imageAlt}}">
        </span>
    </a>
</li>