<article class="realised-project-card">
    <div class="realised-project-card__left">
        <div class="realised-project-card__media">
            <img src="{{project.image}}" alt="{{project.title}}">
        </div>
    </div>

    <div class="realised-project-card__right">
        <h3 class="realised-project-card__title">{{project.title}}</h3>
        <a class="realised-project-card__link" href="{{project.href}}">
            <span>{{detailsText}}</span>
            <svg width="16" height="16" aria-hidden="true">
                <use xlink:href="#arrows/details-chevron"></use>
            </svg>
        </a>
    </div>
</article>
