@layer layout {
  .page-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 200;
    transition:
      background-color 0.2s,
      border-color 0.2s;
    border-bottom: 1px solid transparent;
  }

  .page-header__row {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    gap: 2rem;
    padding: 3rem 0;
    color: white;
    transition: padding 0.2s;
  }

  .page-header__logo {
    display: grid;
    justify-self: flex-start;
    grid-column: 1 / 3;
    grid-template-areas: "stack";
    align-items: center;
    justify-items: flex-start;
  }

  .page-header__logo-full {
    grid-area: stack;
    width: 28.9rem;
    height: auto;
    transition:
      opacity 0.2s,
      visibility 0.2s;

    &--blue {
      opacity: 0;
      visibility: hidden;
    }
  }

  .page-header__logo-compact {
    grid-area: stack;
    width: 22.1rem;
    opacity: 0;
    visibility: hidden;
    transition:
      opacity 0.2s,
      visibility 0.2s;
  }

  .page-header__middle-wrapper {
    grid-column: 3 / 5;
    justify-self: flex-start;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .page-header__products {
    position: relative;
  }

  .page-header__products-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 28rem;
    padding-inline: 3rem;
    padding-block: 2.8rem;
    text-align: left;
    gap: 2rem;
    border-radius: 5rem;
    background: #fff;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.028rem;
    text-transform: uppercase;
    font-family: var(--imb-plex-sans);
    color: var(--text-color);
    transition: padding 0.2s;

    svg {
      width: 2.4rem;
      height: 2.4rem;
      flex-shrink: 0;
      fill: currentColor;
    }
  }

  .page-header__search {
    flex-shrink: 0;
  }

  .page-header__search-btn {
    display: grid;
    place-items: center;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    background: rgba(255, 255, 255, 0.1);
    transition:
      height 0.2s,
      border-radius 0.2s;

    svg {
      width: 2.4rem;
      height: 2.4rem;
      fill: white;
    }
  }

  .page-header__right-wrapper {
    grid-column: 5 / -1;
    justify-self: flex-end;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .page-header__nav {
    padding: 0 1.6rem;
    flex-shrink: 0;
    border-radius: 5rem;
    background: rgba(255, 255, 255, 0.1);
    transition:
      padding 0.2s,
      background-color 0.2s;
  }
  .page-header__nav-list {
    display: flex;
  }

  .page-header__nav-list-item {
    flex-shrink: 0;
  }

  .page-header__nav-link {
    display: flex;
    align-items: center;
    padding: 3.25rem 2.4rem;
    gap: 1rem;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 105%;
    text-transform: uppercase;
    font-family: var(--imb-plex-sans);
    transition: padding 0.2s;

    svg {
      flex-shrink: 0;
      width: 0.9786rem;
      height: 1.0206rem;
      fill: currentColor;
    }
  }

  .page-header__phone {
    display: grid;
    place-items: center;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    flex-shrink: 0;
    transition:
      background-color 0.2s,
      color 0.2s,
      height 0.2s,
      border-radius 0.2s;
    svg {
      width: 2.4rem;
      height: 2.4rem;
      fill: currentColor;
    }
  }

  .page-header__cta {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 105%;
    letter-spacing: -0.028rem;
    text-transform: uppercase;
    padding: 3.2rem 2.8rem;
    border-radius: 30rem;
    background: #fff;
    color: var(--text-color);
    flex-shrink: 0;
    transition:
      background-color 0.2s,
      color 0.2s,
      padding 0.2s;
  }

  .page-header--compact .page-header__logo-full {
    opacity: 0;
    visibility: hidden;
  }

  .page-header--compact {
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  .page-header--compact .page-header__row {
    color: var(--text-color);
    padding: 1rem 0;
  }

  .page-header--compact .page-header__products-btn {
    padding-block: 1.7rem;
    background: var(--primary-color);
    color: #fff;
  }

  .page-header--compact .page-header__search-btn {
    height: 6rem;
    border-radius: 5rem;
    background: #f2f2fa;

    svg {
      fill: var(--text-color);
    }
  }

  .page-header--compact .page-header__nav {
    background: #f2f2fa;
  }

  .page-header--compact .page-header__nav-link {
    padding-block: 2.35rem;
  }

  .page-header--compact .page-header__phone {
    height: 6rem;
    border-radius: 5rem;
    background: #f2f2fa;
    color: var(--text-color);
  }

  .page-header--compact .page-header__cta {
    padding-block: 2.3rem;
    background: var(--primary-color);
    color: #fff;
  }

  .page-header--compact .page-header__logo-compact--blue {
    opacity: 1;
    visibility: visible;
  }
}
