<section class="company-features{{#if companyFeatures.className}} {{companyFeatures.className}}{{/if}}">
    <div class="container">
        <div class="company-features__grid">
            <div class="company-features__intro">
                <p class="company-features__caption">{{companyFeatures.caption}}</p>
                <h2 class="company-features__title">{{{companyFeatures.title}}}</h2>
            </div>

            <div class="company-features__slider">
                <ul class="company-features__list">
                    {{#each companyFeatures.items}}
                    <li class="company-features__item{{#if className}} {{className}}{{/if}}">
                        {{> components/cards/company-feature-card item=this }}
                    </li>
                    {{/each}}
                </ul>
            </div>

            {{#if companyFeatures.showHint}}
            <p class="company-features__hint">
                <span class="company-features__hint-icon" aria-hidden="true">
                    <svg width="15" height="15">
                        <use xlink:href="#swipe-horizontal"></use>
                    </svg>
                </span>
                <span>{{companyFeatures.scrollHintText}}</span>
            </p>
            {{/if}}

            {{#if companyFeatures.showEmblem}}
            <div class="company-features__emblem" aria-hidden="true">
                <img src="/images/company-features/emblem.svg" alt="">
            </div>
            {{/if}}
        </div>
    </div>
</section>
