<section class="contact-us{{#if contactUs.className}} {{contactUs.className}}{{/if}}">
    <div class="container">
        {{#if contactUs.caption}}
        <p class="contact-us__caption">{{contactUs.caption}}</p>
        {{/if}}

        <div class="contact-us__body">
            <picture class="contact-us__bg-picture">
                <source media="(max-width: 576px)" srcset="{{contactUs.backgroundMobile}}">
                <img class="contact-us__bg" src="{{contactUs.background}}" alt="">
            </picture>

            <div class="contact-us__content">
                <div class="contact-us__head">
                    <h2 class="contact-us__title">{{{contactUs.title}}}</h2>
                    <p class="contact-us__description">{{contactUs.description}}</p>

                    {{#if contactUs.contacts}}
                    <div class="contact-us__contacts">
                        {{#each contactUs.contacts}}
                        {{#if this.href}}
                        <a class="contact-us__contact{{#if this.className}} {{this.className}}{{/if}}" href="{{this.href}}">{{this.text}}</a>
                        {{else}}
                        <p class="contact-us__contact{{#if this.className}} {{this.className}}{{/if}}">{{this.text}}</p>
                        {{/if}}
                        {{/each}}
                    </div>
                    {{/if}}
                </div>

                <form class="contact-us__form js-form"
                    action="{{contactUs.formAction}}"
                    method="post">
                    <div class="contact-us__form-rows">
                        {{#each contactUs.fields}}
                        <div class="contact-us__form-row {{#if this.isTextarea}}contact-us__form-row--message{{/if}}{{#if this.isFile}} contact-us__form-row--file{{/if}}">
                            <label class="contact-us__form-label{{#if this.isFile}} contact-us__form-label--file{{/if}}" for="{{this.id}}">{{this.label}}</label>

                            <div class="contact-us__form-control{{#if this.isFile}} contact-us__form-control--file js-file-field{{/if}}">
                                {{#if this.isTextarea}}
                                <textarea class="contact-us__form-textarea"
                                    id="{{this.id}}"
                                    name="{{this.name}}"
                                    placeholder="{{this.placeholder}}"
                                    rows="1"
                                    {{#if this.required}}required{{/if}}></textarea>
                                {{else}}
                                {{#if this.isFile}}
                                <input class="contact-us__form-file-input"
                                    id="{{this.id}}"
                                    name="{{this.name}}"
                                    type="{{this.type}}"
                                    {{#if this.accept}}accept="{{this.accept}}"{{/if}}
                                    {{#if this.required}}required{{/if}}>
                                <span class="contact-us__form-file-value contact-us__form-file-value--placeholder"
                                    data-placeholder="{{this.placeholder}}">{{this.placeholder}}</span>
                                {{else}}
                                <input class="contact-us__form-input"
                                    id="{{this.id}}"
                                    name="{{this.name}}"
                                    type="{{this.type}}"
                                    placeholder="{{this.placeholder}}"
                                    {{#if this.autocomplete}}autocomplete="{{this.autocomplete}}"{{/if}}
                                    {{#if this.required}}required{{/if}}>
                                {{/if}}
                                {{/if}}
                            </div>
                        </div>
                        {{/each}}
                    </div>

                    <div class="contact-us__form-footer">
                        <button class="btn contact-us__form-submit" type="submit">{{contactUs.submitText}}</button>

                        <p class="contact-us__form-policy">
                            {{{contactUs.policyText}}}
                            <a class="contact-us__form-policy-link"
                                href="{{contactUs.policyLinkHref}}"
                                target="_blank"
                                rel="noreferrer noopener">{{contactUs.policyLinkText}}</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
