<section class="cooperation-types">
    <div class="container">
        <ul class="cooperation-types__list">
            {{#each cooperationTypes.items}}
            <li class="cooperation-types__item">
                {{> components/cards/cooperation-card item=this detailsText=../cooperationTypes.detailsText }}
            </li>
            {{/each}}
        </ul>
    </div>

    <div class="cooperation-types__logos" aria-label="{{cooperationTypes.logosAriaLabel}}">
        <div class="cooperation-types__logos-track">
            {{#each cooperationTypes.logos}}
            <div class="cooperation-types__logo">
                <img src="{{this.src}}" alt="{{this.alt}}" style="--logo-width: {{this.width}}rem;">
            </div>
            {{/each}}
            {{#each cooperationTypes.logos}}
            <div class="cooperation-types__logo" aria-hidden="true">
                <img src="{{this.src}}" alt="" style="--logo-width: {{this.width}}rem;">
            </div>
            {{/each}}
        </div>
    </div>
</section>
