<section class="documentation-page">
    <div class="container">
        {{> components/breadcrumbs documentationPage.breadcrumbs }}

        <h1 class="documentation-page__title">{{documentationPage.title}}</h1>

        <div class="documentation-page__sections">
            {{#each documentationPage.sections}}
            <section class="documentation-page__section" aria-labelledby="documentation-section-{{@index}}">
                <h2 class="documentation-page__section-title" id="documentation-section-{{@index}}">{{this.title}}</h2>

                <ul class="documentation-page__cards">
                    {{#each this.items}}
                    <li class="documentation-page__cards-item">
                        <a class="documentation-page__card" href="{{this.href}}">
                            <span class="documentation-page__card-title">{{this.title}}</span>
                            <span class="documentation-page__card-link">{{this.linkText}}</span>
                            <span class="documentation-page__card-illustration" aria-hidden="true">
                                <img src="{{../../documentationPage.hoverImage}}" alt="">
                            </span>
                        </a>
                    </li>
                    {{/each}}
                </ul>
            </section>
            {{/each}}
        </div>
    </div>
</section>
