<section class="documentation-page">
    <div class="container">
        {{> components/breadcrumbs documentationPage.breadcrumbs }}

        <h1 class="documentation-page__title">{{documentationPage.title}}</h1>

        <div class="documentation-page__sections">
            {{#each documentationPage.sections}}
            <section class="documentation-page__section" aria-labelledby="documentation-section-{{@index}}">
                <h2 class="documentation-page__section-title" id="documentation-section-{{@index}}">{{this.title}}</h2>

                <ul class="documentation-page__cards documentation-page__list">
                    {{#each this.items}}
                    <li class="documentation-page__cards-item">
                        {{> components/cards/documentation-card card=this hoverImage=../../documentationPage.hoverImage }}
                    </li>
                    {{/each}}
                </ul>
            </section>
            {{/each}}
        </div>
    </div>
</section>
