<section class="gallery-detail-hero">
    <div class="container">
        {{> components/breadcrumbs galleryDetail.breadcrumbs }}

        <article class="gallery-detail-hero__banner">
            <img class="gallery-detail-hero__image" src="{{galleryDetail.hero.image}}" alt="{{galleryDetail.hero.imageAlt}}">
            <div class="gallery-detail-hero__overlay" aria-hidden="true"></div>

            <div class="gallery-detail-hero__top">
                <ul class="gallery-detail-hero__tags">
                    {{#each galleryDetail.hero.tags}}
                    <li class="gallery-detail-hero__tag">{{this}}</li>
                    {{/each}}
                </ul>

                <time class="gallery-detail-hero__date" datetime="{{galleryDetail.hero.datetime}}">{{galleryDetail.hero.date}}</time>
            </div>

            <h1 class="gallery-detail-hero__title">{{galleryDetail.hero.title}}</h1>
        </article>
    </div>
</section>

<section class="gallery-detail-grid">
    <div class="container">
        <ul class="gallery-detail-grid__list" aria-label="{{galleryDetail.gallery.ariaLabel}}">
            {{#each galleryDetail.gallery.items}}
            {{> components/cards/gallery-detail-card item=this }}
            {{/each}}
        </ul>

        <button class="btn btn--dark-text gallery-detail-grid__button" type="button">{{galleryDetail.gallery.buttonText}}</button>
    </div>
</section>
