{{> sections/gallery-hero gallery=gallery }}

<section class="gallery-grid js-gallery">
    <div class="container">
        <ul class="gallery-grid__list" aria-label="{{gallery.gallery.ariaLabel}}">
            {{#each gallery.gallery.items}}
            <li class="gallery-grid__item{{#if this.isWide}} gallery-grid__item--wide{{/if}}">
                {{> components/cards/gallery-card item=this }}
            </li>
            {{/each}}
        </ul>

        <button class="btn btn--dark-text gallery-grid__button" type="button">{{gallery.gallery.buttonText}}</button>
    </div>
</section>
