<section class="news-detail-hero">
    <div class="container">
        {{> components/breadcrumbs newsDetail.breadcrumbs }}

        <article class="news-detail-hero__banner">
            <img class="news-detail-hero__image" src="{{newsDetail.hero.image}}" alt="{{newsDetail.hero.imageAlt}}">
            <div class="news-detail-hero__overlay" aria-hidden="true"></div>

            <div class="news-detail-hero__top">
                <ul class="news-detail-hero__tags">
                    {{#each newsDetail.hero.tags}}
                    <li class="news-detail-hero__tag">{{this}}</li>
                    {{/each}}
                </ul>

                <time class="news-detail-hero__date" datetime="{{newsDetail.hero.datetime}}">{{newsDetail.hero.date}}</time>
            </div>

            <h1 class="news-detail-hero__title">{{newsDetail.hero.title}}</h1>
        </article>
    </div>
</section>

<section class="news-detail-content">
    <div class="container">
        <article class="article-content">
            <h2>Завершился финал Чемпионата по профессиональному мастерству «Профессионалы»</h2>

            <p>В Санкт-Петербурге завершился финал Чемпионата по профессиональному мастерству «Профессионалы», который проходил с 26 по 30 ноября на площадке КВЦ «Экспофорум». Мероприятие впечатляет масштабами, ведь в финале встретились более 900 лучших студентов профессиональных учебных заведений со всей России, из дружественных стран, а также учащиеся старших классов, молодые специалисты, успешно прошедшие отборочные этапы на межрегиональном уровне.</p>
            <p>Участники соревнований второй год подряд выполняли задания на оборудовании ведущих российских компаний, в том числе на контроллерном оборудовании АБАК ПЛК <a href="#">производства НИЦ «Инкомсистем»</a>.</p>
            <p>Компания НИЦ «Инкомсистем» выступила спонсором конкурса, обеспечив чемпионат оборудованием, технической поддержкой, а также ценными призами для участников, экспертов и победителей соревнований. 15 комплектов оборудования было использовано для отработки навыков конкурсантов в компетенции «Промышленная автоматика».</p>

            <figure>
                <img src="{{newsDetail.contentImage.src}}" alt="{{newsDetail.contentImage.alt}}">
            </figure>

            <ol>
                <li>В Санкт-Петербурге завершился финал Чемпионата по профессиональному мастерству «Профессионалы», который проходил с 26 по 30 ноября на площадке КВЦ «Экспофорум». Мероприятие впечатляет масштабами, ведь в финале встретились более 900 лучших студентов профессиональных учебных заведений со всей России, из дружественных стран, а также учащиеся старших классов, молодые специалисты, успешно прошедшие отборочные этапы на межрегиональном уровне.</li>
                <li>Участники соревнований второй год подряд выполняли задания на оборудовании ведущих российских компаний.</li>
                <li>В том числе на контроллерном оборудовании АБАК ПЛК производства НИЦ «Инкомсистем».</li>
            </ol>

            <ul>
                <li>Компания НИЦ «Инкомсистем» выступила спонсором конкурса, обеспечив чемпионат оборудованием, технической поддержкой, а также ценными призами для участников, экспертов и победителей соревнований.</li>
                <li>15 комплектов оборудования было использовано для отработки навыков конкурсантов в компетенции «Промышленная автоматика».</li>
            </ul>

            <div class="article-snippet article-snippet--company">
                <div class="article-snippet__logo" aria-hidden="true">
                    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" fill="none">
                        <path d="M30.2327 21.5627C24.5795 26.6098 20.8541 32.1109 20.8541 40C20.8541 45.3946 22.6785 49.407 25.6306 53.163L38.5188 43.4431V21.5627H46.2916V58.6749H38.5188V52.8092L30.7425 58.6699L30.7442 58.6749H20.2409C15.792 53.6474 13.0813 47.139 13.0812 40C13.0812 32.9721 15.7059 26.5567 20.0326 21.5627H30.2327Z" fill="#006FDD"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M41.3627 0C58.326 5.39664e-05 72.8902 9.88301 79.2717 24.0147C79.4815 24.4478 79.7091 24.9184 79.9492 25.4627C79.9628 25.4956 79.9863 25.5114 80 25.5446L79.9458 25.5872L79.9492 25.5905L73.6177 30.5356V30.5307L61.3495 40.1179L79.646 54.4161L79.6307 54.457L79.8509 54.6306C73.8089 69.4781 58.8636 79.9999 41.3627 80C18.5204 80 0.000114433 62.0915 0 40C0 17.9102 18.5203 0 41.3627 0ZM41.3627 7.38739C22.7659 7.38739 7.63566 22.0159 7.63566 40C7.63578 57.9858 22.766 72.6143 41.3627 72.6143C53.7502 72.6142 64.5316 66.2602 70.3758 56.6634L56.9744 46.1917V58.6749H49.2016V21.5627H56.9744V34.0442L70.4334 23.5266C64.5757 13.88 53.7451 7.38744 41.3627 7.38739Z" fill="#006FDD"/>
                    </svg>
                </div>
                <p>Компания НИЦ «Инкомсистем» выступила спонсором конкурса, обеспечив чемпионат оборудованием, технической поддержкой, а также ценными призами для участников, экспертов и победителей соревнований.</p>
            </div>

            <div class="article-snippet article-snippet--gallery js-article-gallery" aria-label="{{newsDetail.gallery.ariaLabel}}">
                <div class="article-snippet__gallery-main swiper js-article-gallery-main">
                    <ul class="article-snippet__gallery-list swiper-wrapper">
                        {{#each newsDetail.gallery.images}}
                        <li class="article-snippet__gallery-item swiper-slide">
                            <img src="{{this.src}}" alt="{{this.alt}}">
                        </li>
                        {{/each}}
                    </ul>

                    {{> components/slider-navigation className="article-snippet__gallery-navigation" theme="light" ariaLabel=newsDetail.gallery.ariaLabel prevLabel=newsDetail.gallery.prevLabel nextLabel=newsDetail.gallery.nextLabel }}
                </div>

                <div class="article-snippet__gallery-thumbs swiper js-article-gallery-thumbs" aria-hidden="true">
                    <ul class="article-snippet__gallery-thumbs-list swiper-wrapper">
                        {{#each newsDetail.gallery.images}}
                        <li class="article-snippet__gallery-thumb swiper-slide">
                            <img src="{{this.src}}" alt="">
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>

            <h2>Завершился финал Чемпионата по профессиональному мастерству «Профессионалы»</h2>

            <p>В Санкт-Петербурге завершился финал Чемпионата по профессиональному мастерству «Профессионалы», который проходил с 26 по 30 ноября на площадке КВЦ «Экспофорум». Мероприятие впечатляет масштабами, ведь в финале встретились более 900 лучших студентов профессиональных учебных заведений со всей России, из дружественных стран, а также учащиеся старших классов, молодые специалисты, успешно прошедшие отборочные этапы на межрегиональном уровне.</p>

            <div class="article-snippet article-snippet--media-right">
                <p>В Санкт-Петербурге завершился финал Чемпионата по профессиональному мастерству «Профессионалы», который проходил с 26 по 30 ноября на площадке КВЦ «Экспофорум». Мероприятие впечатляет масштабами, ведь в финале встретились более 900 лучших студентов профессиональных учебных заведений со всей России, из дружественных стран, а также учащиеся старших классов, молодые специалисты, успешно прошедшие отборочные этапы на межрегиональном уровне.</p>
                <p>Участники соревнований второй год подряд выполняли задания на оборудовании ведущих российских компаний, в том числе на контроллерном оборудовании АБАК ПЛК производства НИЦ «Инкомсистем».</p>
                <img src="{{newsDetail.sideImage.src}}" alt="{{newsDetail.sideImage.alt}}">
            </div>

            <p>В Санкт-Петербурге завершился финал Чемпионата по профессиональному мастерству «Профессионалы», который проходил с 26 по 30 ноября на площадке КВЦ «Экспофорум». Мероприятие впечатляет масштабами, ведь в финале встретились более 900 лучших студентов профессиональных учебных заведений со всей России, из дружественных стран, а также учащиеся старших классов, молодые специалисты, успешно прошедшие отборочные этапы на межрегиональном уровне.</p>
        </article>
    </div>
</section>
