<section class="product-category-media">
    <div class="product-category-media__pattern" aria-hidden="true">
        <img src="/images/harsh-conditions/pattern.webp" alt="">
    </div>

    <div class="container product-category-media__inner">
        <h2 class="product-category-media__title">{{{media.title}}}</h2>

        <figure class="product-category-media__figure">
            <img class="product-category-media__image" src="{{media.image}}" alt="{{media.imageAlt}}" loading="lazy">
        </figure>
    </div>
</section>
