<section class="production-and-services js-production-and-services{{#if productionAndServices.className}} {{productionAndServices.className}}{{/if}}">
    <div class="production-and-services__bg" aria-hidden="true">
        <picture>
            {{#if productionAndServices.backgroundMobile}}
            <source media="(max-width: 576px)" srcset="{{productionAndServices.backgroundMobile}}">
            {{/if}}
            <img src="{{productionAndServices.background}}" alt="">
        </picture>
    </div>
    <div class="container">
        <div class="production-and-services__inner">
            <h2 class="production-and-services__title">{{{productionAndServices.title}}}</h2>

            <div class="production-and-services__list-wrapper">
                <p class="production-and-services__caption">{{productionAndServices.caption}}</p>
                <ul class="production-and-services__list">
                    {{#each productionAndServices.items}}
                    {{> components/cards/production-and-services-item item=this }}
                    {{/each}}
                </ul>
            </div>

            {{#if productionAndServices.description}}
            <p class="production-and-services__description">{{productionAndServices.description}}</p>
            {{/if}}

            {{#if productionAndServices.buttonText}}
            <a class="btn production-and-services__btn" href="{{productionAndServices.buttonHref}}">
                {{productionAndServices.buttonText}}
            </a>
            {{/if}}
        </div>
    </div>
</section>
