<section class="realised-projects-page">
    <div class="container">
        {{> components/breadcrumbs realisedProjectsPage.breadcrumbs }}

        <h1 class="realised-projects-page__title">{{realisedProjectsPage.title}}</h1>
    </div>

    <div class="realised-projects-page__banner">
        <div class="container">
            <div class="realised-projects-page__banner-content">
                <p class="realised-projects-page__banner-text">{{realisedProjectsPage.banner.text}}</p>

                <div class="realised-projects-page__banner-card">
                    {{> components/cards/engineering-doc-card doc=realisedProjectsPage.banner.document }}
                </div>
            </div>
        </div>
    </div>
</section>
