<div class="select js-select{{#if select.className}} {{select.className}}{{/if}}" data-placeholder="{{select.placeholder}}"{{#if select.required}} data-required-select{{/if}}>
    <button class="select__button" type="button" aria-label="{{select.ariaLabel}}">
        <span class="select__button-text js-btn-text">{{select.placeholder}}</span>
        <span class="select__arrow{{#if select.useAltArrow}} select__arrow--svg{{/if}}" aria-hidden="true">
            {{#if select.useAltArrow}}
            <svg width="16" height="9" viewBox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.3164 1.89748L13.4189 0L7.65804 5.76088L1.89716 0L-0.000320435 1.89748L6.7093 8.6071C6.96095 8.85868 7.30221 9 7.65804 9C8.01387 9 8.35514 8.85868 8.60678 8.6071L15.3164 1.89748Z" />
            </svg>
            {{/if}}
        </span>
    </button>

    {{#if select.clearable}}
    <button class="select__reset js-reset-btn" type="button" data-clear-select aria-label="{{select.clearAriaLabel}}">
        <svg width="15" height="15" aria-hidden="true">
            <use xlink:href="#close"></use>
        </svg>
    </button>
    {{/if}}

    <div class="select__dropdown">
        <ul class="select__list">
            {{#each select.options}}
            <li class="select__item">
                <label class="select__option" for="{{this.id}}">
                    <input class="select__input"
                        id="{{this.id}}"
                        name="{{../select.name}}"
                        type="radio"
                        value="{{this.value}}"
                        {{#if this.checked}}checked{{/if}}>
                    <span class="select__option-content">
                        <span class="select__option-text">{{this.label}}</span>
                        <span class="select__option-mark" aria-hidden="true"></span>
                    </span>
                </label>
            </li>
            {{/each}}
        </ul>
    </div>
</div>
