<nav class="slider-navigation {{#if className}}{{className}}{{/if}}" aria-label="{{ariaLabel}}">
    <button type="button" class="slider-navigation__button slider-navigation__button--prev js-slider-prev"
        aria-label="{{prevLabel}}">
        <svg width="16" height="16" aria-hidden="true">
            <use xlink:href="#arrows/left"></use>
        </svg>
    </button>

    <button type="button" class="slider-navigation__button slider-navigation__button--next js-slider-next"
        aria-label="{{nextLabel}}">
        <svg width="16" height="16" aria-hidden="true">
            <use xlink:href="#arrows/right"></use>
        </svg>
    </button>
</nav>