@use "tools/media" as mq;

@mixin page-title {
  font-family: var(--inter-tight);
  font-size: 12rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0;
  text-wrap: balance;

  @include mq.down(sm) {
    font-size: 2.6rem;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0;
    text-transform: uppercase;
  }
}

@mixin page-title-mobile {
  font-family: var(--inter-tight);
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0;
  text-wrap: balance;
  text-transform: uppercase;
}

@mixin detail-title(
  $desktop-letter-spacing: -0.24rem,
  $mobile-size: 2.6rem,
  $mobile-line-height: 1.1,
  $mobile-letter-spacing: 0
) {
  font-family: var(--inter-tight);
  font-size: 6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  letter-spacing: $desktop-letter-spacing;
  text-wrap: balance;

  @include mq.down(sm) {
    font-size: $mobile-size;
    font-weight: 700;
    line-height: $mobile-line-height;
    letter-spacing: $mobile-letter-spacing;
    text-transform: uppercase;
  }
}

@mixin section-title {
  font-family: var(--inter-tight);
  font-size: 6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0;
  text-transform: uppercase;
  text-wrap: balance;

  @include mq.down(sm) {
    font-size: 2.6rem;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0;
  }
}
